#dash_bord_main{
    position: absolute;
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    left: 5%;
    top: 15%;
}
#dash_bord_main>img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#profileLog{
    position: absolute;
    height: 50%;
    width: 15%;
    background-color: #deba05;
    border-radius: 10px;
    left: 80%;
    top: 15%;
    font-size: 50%;
}

#logout{
    position: absolute;
    height: 10%;
    width: 80%;
    background-color: red;
    border-radius: 10px;
    left: 10%;
    top: 61%;
    border: 0;
    font-size: 180%;
}


#get_profile{
    position: absolute;
    height: 10%;
    width: 80%;
    background-color: dodgerblue;
    border-radius: 10px;
    left: 10%;
    top: 75%;
    border: 0;
    font-size: 180%;
}

#select_course{
    position: absolute;
    height: 10%;
    width: 80%;
    background-color: dodgerblue;
    border-radius: 10px;
    left: 10%;
    top: 89%;
    border: 0;
    font-size: 180%;
}

#boss>img{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 20%;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#boosBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


#dash_bord_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {

    padding: 5px;
    height: 90%;
    width: 80%;
    left: 10%;
    top: 2.5%;
    background-color: dodgerblue;
    position: relative;
    border-radius: 10px;

    /* Center content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}

pre{
    position: relative;
    top: 10%;
    font-size: 200%;
    margin: 0;
    font-style: italic;
    text-align: center;
}
        /*meka styles liyanna ahriyata*/
#userId>h1{
    position: absolute;
    top: 0;
    color: black;
    display: inline-block;
    left: 35%;
    font-size: 250%;
    margin: 2%;
}

#userName>h1{
    position: absolute;
    top: 35%;
    color: black;
    display: inline-block;
    left: 35%;
    font-size: 250%;
    margin: 0;
}

#userEmail>h1{
    position: absolute;
    top: 42%;
    color: black;
    display: inline-block;
    left: 10%;
    font-size: 250%;
    margin: 0;
}

#userCode>h1{
    position: absolute;
    top: 49%;
    color: black;
    display: inline-block;
    left: 40%;
    font-size: 250%;
    margin: 0;
}