#loginRoot{
    overflow: hidden;
    background-color: #2A230B;
}
label{
    font-size: smaller;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
input{
    border-color: #DAA520 !important;
}
#loginButton{
    background-color: #DAA520;
}

#loginFormBox{
    background-color: #EFEFEF !important;
}
#forgotPasswordText{
    font-weight: bolder;
    font-size: x-large;
}