#signInRoot{
    overflow: hidden;
    background-color: #2A230B;
}
label{
    font-size: smaller;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
input{
    border-color: #DAA520 !important;
}

#rightContent{
    background-color: #EFEFEF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#leftContent{
    background-color: #DAA520;
    z-index: 100;
}
#signInButton{
    background-color: #DAA520 !important;
}

#signInText{
     font-weight: bolder;
     font-size: x-large;
 }

/*form{*/
/*    background-color: #DAA520;*/
/*}*/




